*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    width: 30%;
    height: 6%;
    background-color: #000500;
    color: #ffff;
    border-width: 0ch;
    box-shadow: 0px 4px 4px #000500;
}
form{
    height: 60vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-evenly;
    box-shadow: 0px 4px 4px #000500;
    
}
.situacao{
    width: 30%;
    height: 6%;
    text-align: center;
}
.nota1,
.nota2,
.nota_final{
    width: 15%;
    height: 6%;
    text-align: center;
    box-shadow: 0px 2px 4px #000500;
}

.sombra-vermelha{
    box-shadow: 0px 0px  8px red;
}
.sombra-azul{
    box-shadow: 0px 0px  8px #008081;
}